.task-hover-effect:hover {
    background-color: rgba(54, 9, 159, 0.174);
}


/* Scroll Bar  */

.custom-scrollbar::-webkit-scrollbar {
    width: 1px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; 
    
  }


/* Badges  */

  .badge-primary {
    background-color: #a2d1f5 !important;
    color: #125e94 !important;
    padding: .1rem .5rem !important;
    font-size: .9rem !important; 
    border-radius: 5px;
  }
  .badge-secondary {
    background-color: #62646149 !important;
    color: #252525d8 !important;
    padding: .1rem .5rem !important;
    font-size: .9rem !important; 
    border-radius: 5px;
  }
  .badge-success {
    background-color: #b3f89448 !important;
    color: #2b6306 !important;
    padding: .1rem .5rem !important;
    font-size: .9rem !important; 
    border-radius: 5px;
  }
  .badge-danger {
    background-color: #f7818154 !important;
    color: #8d1010f5 !important;
    padding: .1rem .5rem !important;
    font-size: .9rem !important; 
    border-radius: 5px;
  }
  .badge-warning {
    background-color: #eff86a54 !important;
    color: #81420d !important;
    padding: .1rem .5rem !important;
    font-size: .9rem !important; 
    border-radius: 5px;
  }

  .badge-info {
    background-color: #2ef3fa54 !important;
    color: #0f948d !important;
    padding: .1rem .5rem !important;
    font-size: .9rem !important; 
    border-radius: 5px;
  }

  .badge-primary-dark {
    background-color: #d6eafa !important;
    color: #139CFF !important;
    padding: .1rem .5rem !important;
    font-size: .9rem !important; 
    border-radius: 5px;
  }
  .badge-secondary-dark {
    background-color: #626461 !important;
    color: #ffffff !important;
    padding: .1rem .5rem !important;
    font-size: .9rem !important; 
    border-radius: 5px;
  }
  .badge-success-dark {
    background-color: #b3f89448 !important;
    color: #86fd37 !important;
    padding: .1rem .5rem !important;
    font-size: .9rem !important; 
    border-radius: 5px;
  }
  .badge-danger-dark {
    background-color: #f7818154 !important;
    color: #ff4646 !important;
    padding: .1rem .5rem !important;
    font-size: .9rem !important; 
    border-radius: 5px;
  }
  .badge-warning-dark {
    background-color: #eff86a54 !important;
    color: #ff9945 !important;
    padding: .1rem .5rem !important;
    font-size: .9rem !important; 
    border-radius: 5px;
  }
  .badge-info-dark {
    background-color: #2ef3fa54 !important;
    color: #0f948d !important;
    padding: .1rem .5rem !important;
    font-size: .9rem !important; 
    border-radius: 5px;
  }

